.Product-item{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    width: 300px;
    height: 300px;
    max-width: 100%;
    
   
}

.Product-item li{

    list-style-type: none;
    text-decoration: none;
    color:black
}

.full{
  margin: 5px 5px 5px 5px ;
  padding: 10px;

}

